// ---------------------------
// Button
// ---------------------------
.btn{
    border-radius: 3px;
    border: 0;
    font-weight: normal;
    &:hover,&:focus,&:active{
        border: none;
        outline: none;
    }
}
.btn-single-cart {
    
    text-decoration: none;
    vertical-align: middle;
    padding-bottom: 11px;
    padding-top: 11px;
    cursor: pointer;
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: calc(40% - 10px);
    margin: 0 5px !important;
    float: none !important;
    height: 50px;
    img{
        max-width: 25px;
        height: auto;
        margin-right: 5px; 
    }
}

.btn-add-cart {
    background: #000;
    color: #fff;
    font-weight: normal;
    &:hover,&:active,&:focus{
        background: #000;
        color: #fff;
        opacity: 0.85;
    }
}

.btn-buy-now {
    background: #ff4343;
    color: #FFF;
    &:hover,&:active,&:focus{
        background: #ff4343;
        color: #FFF;
        opacity: 0.85;
    }
}
.btn-checkout-button{
    display: block;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #FFF;
    background: #000;
    text-decoration: none;
    &:hover,&:active,&:focus{
        background: #000;
        color: #FFF;
        opacity: 0.85;
    }
}
.button-click{
    button{
        border: none;
        background: transparent;
        &:hover,&:focus,&:active{
            border: none;
            outline: none;
        }
    }
}